@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aeonik-Regular";
  src: url("./assets/fonts/Aeonik-Regular.otf");
}

body {
  font-family: "Aeonik-Regular", arial;
  box-sizing: border-box;
}

#daftar {
  box-shadow: 0px 40px 40px rgba(109, 193, 215, 0.8);
}

.circle {
  background: linear-gradient(
    89.79deg,
    #b8b5ff 5.66%,
    rgba(141, 226, 231, 0) 96.67%
  );
}

.linimasa {
  background: linear-gradient(180deg, #7868e6 0%, #b8b5ff 100%);
  box-shadow: 0px 20px 25px rgba(109, 193, 215, 0.8);
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 80%;
  }
}

input,
button {
  outline: none;
}

.blur {
  background-color: rgb(237, 238, 247, 0.2);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.bg-auth{
  background-size: all;
  background-attachment: fixed;
  background-position: center;
}